.color-yellow {
    color: var(--color-yellow);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-white {
  background-color: var(--color-white);
}