/* TOGGLE */

/* declaring the css variables colors */
:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #fff;
  --color-anchor: #000aff;
}

[data-theme='dark'] {
  --color-primary-accent: #f7e018;
  --color-primary: #fff;
  --color-button: #f7e018;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #22212b;
  --color-anchor: #f7e018;
}



/* swtich taken from W3 schools */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #33f321;
}

input:focus + .slider {
  box-shadow: 0 0 1px #33f321;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}



html,
body {
  padding: 0;
  margin: 0;

  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;

  font-family: 'Roboto', sans-serif;
}

a {
  /* color: inherit; */
  text-decoration: none;
}


a {
  color: var(--color-anchor);
}

* {
  box-sizing: border-box;
}


/* COLORS */


/* FONT STYLES */
