@import './variables.css';
@import './colors.css';
@import './reset.css';
@import './bootstrap-override.css';
@import './icomoon.css';
@import './util.css';

#side .nav-link.active,
#side .nav-link:hover,
#side .nav-link:focus{
    color: #111;
    border-bottom: 1px #000 dashed;
}


html,
body {
  padding: 0;
  margin: 0;

  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-anchor);
}

/* swtich taken from W3 schools */

.switch {
  position: relative;
  width: 60px;
  height: 24px;
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:not(:checked) ~ .icon-light_mode {
   display: none !important;
}

input:not(:checked) ~ .icon-dark_mode {
  display: inline-block;
}

input:checked ~ .icon-dark_mode {
  display: none !important;
}

input:checked ~ .icon-light_mode {
  display: inline-block;
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.theme-mode-icon {
  z-index: 3;
}


.blog-post h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.nav-link a {
  width: 100%;
  display: inline-block;
}

.dropdown-filter {
  background-color: #eee;
}

[data-theme='dark'] .dropdown-filter {
  background-color: #212121;
  color: #fff;
}

.footer a:hover {
  color: var(--color-yellow);
  text-decoration: underline;
}

.footer * {
  color: var(--color-white);
}

.particle-canvas{
  height: 100% !important;
  position: absolute;
  width: 100% !important;
}

.hero-wrapper {
  height: 50vh;
}

