.hero {
  background-color: var(--color-black);
  color: var(--color-white);
}

.cta {
  font-weight: bold;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-yellow);
}

.sectionCallToAction a {
  border-bottom: 2px solid var(--color-yellow);
  color: var(--color-black);
  font-weight: bold;
  font-size: 20px;
}

.jobCategoryItem .jobCategoryIcon {
  font-size: 70px;
}

.jobCategoryItem {
  border: 1px solid var(--color-black);
  min-height: 250px;
  transition: color .7s;
}

.jobCategoryItem:hover {
  color: var(--color-yellow);
  cursor: pointer;
}