.hero {
  /* background-color: var(--color-black); */
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.test {
  background-color: #000;
  opacity: 0.5;
  width: 50%;
  height: 50%;
  position: absolute;

}

.cta {
  font-weight: bold;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-yellow);
}

.sectionCallToAction a {
  border-bottom: 2px solid var(--color-yellow);
  color: var(--color-black);
  font-weight: bold;
  font-size: 20px;
}

[data-theme='dark'] .sectionCallToAction a,
[data-theme='dark'] .cta {
  color: var(--color-white);
}

.jobCategoryItem .jobCategoryIcon {
  font-size: 70px;
}

.jobCategoryItem {
  border: 1px solid var(--color-black);
  min-height: 250px;
  transition: all .7s;
}

.jobCategoryItem:hover {
  color: var(--color-yellow);
  cursor: pointer;
  background-color: #000;
}