.hero {
  background-color: var(--color-black);
  color: var(--color-white);
}

.cta {
  font-weight: bold;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-yellow);
}

.sectionCallToAction a {
  border-bottom: 2px solid var(--color-yellow);
  color: var(--color-black);
  font-weight: bold;
  font-size: 20px;
}