.wrapper {
    margin-top: 100px;
}

.selectedJobPostingType {
    /* border: 2px solid rgba(0, 0, 0, 0.4); */
    /* box-shadow: rgba(247, 224, 24, 1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px; */
    /* border-top: 4px solid var(--color-yellow); */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.jobPostingType:hover {
    cursor: pointer;
}